$color-primary:         aliceblue;
$color-secondary:       powderblue;
$color-tertiary:        #2cdd88;
$color-link:            deepskyblue;
$color-theme:           #87ceeb;
$color-card-bg:         #e6fafd;
$color-card-fg:         #222;
$color-bullet:          #6f8687;
